<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="THoloconEntities" connectionString="metadata=res://*/TrackingDataModel.csdl|res://*/TrackingDataModel.ssdl|res://*/TrackingDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=adsebizsql01.adv.advania.com\BIZTALKTEST;initial catalog=THolocon;persist security info=True;user id=admportalsvc; Password=Autumn%2020;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>