<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <remove name="aspNetCore" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess" />
  </system.webServer>
  <connectionStrings>
    <add name="THoloconEntities" connectionString="metadata=res://*/TrackingDataModel.csdl|res://*/TrackingDataModel.ssdl|res://*/TrackingDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=adsebizsql01.adv.advania.com\BIZTALKTEST;initial catalog=THolocon;persist security info=True;user id=admportalsvc;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>